<section class="section" style="padding-bottom: 0;">
	<h1 class="title">Un pichazo de inputs van aqui</h1>
	<h1 class="subtitle">&lt;PlayerName&gt;'s Character Sheet</h1>
	<hr>
	
	<form class="is-uppercase" #characterForm="ngForm" autocomplete="off" (ngSubmit)="saveForm()">
		<div class="columns">
			<div class="column is-4 field">
				<label class="label is-small">Character Name</label>
				<div class="control">
					<input class="input is-small" type="text" placeholder="Character Name" name="inpName" [(ngModel)]="character.name">
				</div>
			</div>
	
			<div class="column">
				<div class="columns is-multiline">
					<div class="column is-one-third field">
						<label class="label is-small">Background</label>
						<div class="control">
							<input class="input is-small" type="text" placeholder="Background" name="inpBackground" [(ngModel)]="character.background">
						</div>
					</div>
	
					<div class="column is-one-third field">
						<label class="label is-small">Race</label>
						<div class="control">
							<input class="input is-small" type="text" placeholder="Race" name="inpRace" [(ngModel)]="character.race">
						</div>
					</div>
	
					<div class="column is-one-third field">
						<label class="label is-small">Alignment</label>
						<div class="control">
							<input class="input is-small" type="text" placeholder="Alignment" name="inpAlignment" [(ngModel)]="character.alignment">
						</div>
					</div>
	
					<div class="column is-one-third field">
						<label class="label is-small">Class & Level</label>
						<div class="columns control">
							<div class="column is-8">
								<input class="input is-small" type="text" placeholder="Class" name="inpClass" [(ngModel)]="character.class">
							</div>
							<div class="column is-4">
								<input class="input is-small" type="number" placeholder="Level" name="inpLevel" [(ngModel)]="character.level">
							</div>
						</div>
					</div>
	
					<div class="column is-one-third">
						<div class="field">
							<label for="" class="label is-small">Experience Points</label>
						</div>
						<div class="field columns">
							<div class="column control">
								<input type="number" class="input is-small has-text-right" placeholder="Current Exp" name="inpExpCurrent" [(ngModel)]="character.expCurrent">
							</div>
							<label class="label is-small" style="margin-top: 1rem;">/</label>
							<div class="column control">
								<input type="number" class="input is-small" placeholder="Next Lvl Exp" name="inpExpNext" [(ngModel)]="character.expNext">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	
		<hr>
		
		<div class="columns">
			<div class="column">
				<div class="field">
					<div class="control is-flex" style="justify-content: space-between;">
						<label class="label">Proficiency Bonus</label>
						<input class="input is-small" type="number" placeholder="Proficiency Bonus" name="inpProficiencyBonus" [(ngModel)]="character.proficiencyBonus" style="width: 10rem;">
					</div>
				</div>
	
				<div class="field">
					<div class="control is-flex" style="justify-content: space-between;">
						<label class="label">Inspiration</label>
						<input class="input is-small" type="number" placeholder="Inspiration" name="inpInspiration" [(ngModel)]="character.inspiration" style="width: 10rem;">
					</div>
				</div>
	
				<hr>
	
				<div class="columns has-background-white-bis" *ngFor="let perk of character.perks">
					<div class="column is-one-quarter">
						<div class="columns field is-multiline">
							<div class="column control" style="padding-top: .3rem; padding-bottom: .3rem;">
								<input type="number" class="input has-text-centered is-small is-flex" style="margin: auto; width: 3rem;" name="inpPerkMod{{perk.name}}" [(ngModel)]="perk.modifier">
							</div>
	
							<div class="column control" style="margin: auto; padding-top: .3rem; padding-bottom: .3rem;">
								<input type="number" class="input is-small has-text-centered has-text-weight-bold is-size-6" name="inpPerk{{perk.name}}" [(ngModel)]="perk.value">
								<label for="" class="label is-small has-text-centered">{{perk.name}}</label>
							</div>
						</div>
					</div>
	
					<div class="column">
						<aside class="menu">
							<ul class="menu-list">
								<li>
									<a class="field is-grouped">
										<div class="control">
											<input type="checkbox" class="check is-small">
										</div>
										<div class="control">
											<input type="number" class="input is-small is-radiusless" style="border: none; border-bottom: thin solid; width: 3rem;">
										</div>
										<label for="" class="label is-small" style="margin-top: .5rem;">Saving throws</label>
									</a>
								</li>
	
								<li *ngFor="let ability of perk.abilities">
									<a class="field is-grouped">
										<div class="control">
											<input type="checkbox" class="check is-small">
										</div>
										<div class="control">
											<input type="number" class="input is-small is-radiusless" style="border: none; border-bottom: thin solid; width: 3rem;">
										</div>
										<label for="" class="label is-small" style="margin-top: .5rem;">{{ability.name}}</label>
									</a>
								</li>
							</ul>
						</aside>
					</div>
				</div>

				<div class="field is-grouped is-grouped-centered">
					<div class="control">
						<input type="number" class="input is-small has-text-centered" style="width: 4rem;" name="inpPassiveWisdom" [(ngModel)]="character.passiveWisdom">
						<label for="" class="label is-small has-text-weight-semibold is-inline" style="margin-left: 1rem;">Passive Wisdom (Perception)</label>
					</div>
				</div>
			</div>
	
			<div class="column has-background-white">
				<div class="field is-grouped is-grouped-centered">
					<div class="control">
						<input type="number" class="input is-size-6 has-text-weight-bold has-text-centered is-flex" style="width: 4rem; margin: auto;" name="inpArmorClass" [(ngModel)]="character.armorClass">
						<label for="" class="label is-small has-text-centered">Armor class</label>
					</div>
					<div class="control">
						<input type="number" class="input is-size-6 has-text-weight-bold has-text-centered is-flex" style="width: 4rem; margin: auto;" name="inpInitiative" [(ngModel)]="character.initiative">
						<label for="" class="label is-small has-text-centered">Initiative</label>
					</div>
					<div class="control">
						<input type="number" class="input is-size-6 has-text-weight-bold has-text-centered is-flex" style="width: 4rem; margin: auto;" name="inpSpeed" [(ngModel)]="character.speed">
						<label for="" class="label is-small has-text-centered">Speed</label>
					</div>
				</div>

				<div class="field">
					<div class="control">
						<label for="" class="is-inline is-size-7" style="margin-right: 2rem;">Hit Point Maximum</label>
						<input type="number" class="input is-small" style="width: 3.5rem;">
					</div>
				</div>
				<div class="field">
					<div class="control">
						<input type="number" class="input is-medium has-text-weight-bold">
						<label for="" class="label is-small has-text-centered">Current Hit Points</label>
					</div>
				</div>

				<div class="field">
					<div class="control">
						<input type="number" class="input is-medium has-text-weight-bold">
						<label for="" class="label is-small has-text-centered">Temporary Hit Points</label>
					</div>
				</div>

				<div class="columns">
					<div class="column">
						<div class="field">
							<div class="control">
								<label for="" class="is-inline is-size-7" style="margin-right: 2rem;">Total</label>
								<input type="number" class="input is-small" style="width: 66.6%;">
							</div>
						</div>
						<div class="field">
							<div class="control">
								<input type="number" class="input is-small">
								<label for="" class="label is-small has-text-centered">Hit Dice</label>
							</div>
						</div>
					</div>

					<div class="column">
						<div class="field is-grouped">
							<div class="control">
								<label for="" class="label is-small has-text-weight-semibold is-inline" style="margin-right: .5rem;">Successes</label>
								<input type="radio" class="radio is-small" *ngFor="let success of character.deathSavesSuccess">
							</div>
						</div>
						<div class="field is-grouped">
							<div class="control">
								<label for="" class="label is-small has-text-weight-semibold is-inline" style="margin-right: .5rem;">Failures</label>
								<input type="radio" class="radio is-small" *ngFor="let success of character.deathSavesFailures">
							</div>
						</div>
						<div class="field">
							<div class="control"><label for="" class="label is-small has-text-centered">Death saves</label></div>
						</div>
					</div>
				</div>

				<div class="table-container">
					<table class="table is-striped is-hoverable is-narrow is-fullwidth is-size-7">
						<thead>
							<tr>
								<th class="has-text-weight-semibold">Name</th>
								<th class="has-text-weight-semibold">ATK Bonus</th>
								<th class="has-text-weight-semibold">Damage/Type</th>
							</tr>
						</thead>
	
						<tbody>
							<tr *ngFor="let attack of character.attacks; index as $index">
								<td>
									<input type="text" class="input is-small" name="inpAttackName_{{$index}}" [(ngModel)]="attack.name">
								</td>
								<td>
									<input type="text" class="input is-small has-text-centered" name="inpAttackBonus_{{$index}}" [(ngModel)]="attack.bonus">
								</td>
								<td>
									<input type="text" class="input is-small" name="inpAttackDamageType_{{$index}}" [(ngModel)]="attack.damageType">
								</td>
							</tr>
						</tbody>
					</table>

					<div class="field">
						<div class="control">
							<!-- TODO: Parse spells correctly -->
							<textarea name="txtSpells" rows="20" class="textarea"></textarea>
							<label for="" class="label is-small has-text-centered">Attacks & Spellcasting</label>
						</div>
					</div>
				</div>
				
				<div class="field">
					<div class="control">
						<textarea name="txtProficienciesLanguages" cols="30" rows="10" class="textarea" [(ngModel)]="character.proficienciesLanguages"></textarea>
						<label for="" class="label is-small has-text-centered">Other Proficiencies & Languages</label>
					</div>
				</div>
			</div>
	
			<div class="column">
				<div class="field">
					<div class="control">
						<textarea name="txtPersonalityTraits" rows="9" class="textarea" [(ngModel)]="character.personalityTraits"></textarea>
						<label for="" class="label is-small has-text-centered">Personality Traits</label>
					</div>
				</div>

				<div class="field">
					<div class="control">
						<textarea name="txtIdeals" rows="9" class="textarea" [(ngModel)]="character.ideals"></textarea>
						<label for="" class="label is-small has-text-centered">Ideals</label>
					</div>
				</div>
				
				<div class="field">
					<div class="control">
						<textarea name="txtBonds" rows="9" class="textarea" [(ngModel)]="character.bonds"></textarea>
						<label for="" class="label is-small has-text-centered">Bonds</label>
					</div>
				</div>
				
				<div class="field">
					<div class="control">
						<textarea name="txtFlaws" rows="8" class="textarea" [(ngModel)]="character.flaws"></textarea>
						<label for="" class="label is-small has-text-centered">Flaws</label>
					</div>
				</div>

				<div class="field">
					<div class="control">
						<textarea name="txtEquipmentNotes" cols="30" rows="10" class="textarea" [(ngModel)]="character.equipment"></textarea>
						<label for="" class="label is-small has-text-centered">Equipment & Character Notes</label>
					</div>
				</div>
			</div>
		</div>

		<hr>

		<div id="submitBtn" class="is-sticky-bottom has-text-centered has-background-light">
			<button class="button is-primary is-medium is-family-code">save</button>
		</div>
	</form>
	
	<!-- <div class="box has-background-light">
		<pre>{{character | json}}</pre>
	</div> -->
</section>
