/* You can add global styles to this file, and also import other style files */

.is-fixed-top {
	position: fixed;
	top: 0;
}
.is-fixed-bottom {
	position: fixed;
	bottom: 0;
}

.is-sticky-top {
	position: sticky;
	position: -webkit-sticky;
	top: 0;
}

.is-sticky-bottom {
	position: sticky;
	position: -webkit-sticky;
	bottom: 0;
}

.icon {
	margin: .3rem;
}